.gh_widget div.body {
  background: -moz-linear-gradient(center top , #FAFAFA, #EFEFEF) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, 0% 0, 0% 100%,from(#FAFAFA),to(#EFEFEF));
  border-bottom-left-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright :4px;
  border-top: 1px solid #eee;
  clear: right;
  margin-left: -10px;
  margin-top: 8px;
  min-height: 40px;
  padding: 5px 10px;
  width: 100%;
}
.gh_widget div.body p {
  color: #444;
  margin: 0 0 3px;
}
.gh_widget h3 {
  background-image: url('http://assets1.github.com/images/icons/public.png');
  background-color: transparent;
  background-repeat: no-repeat;
  font-size: 14px;
  line-height: 1.4em;
  margin: 0;
  padding-left: 22px;
  white-space: nowrap;
}
.gh_widget h3 a {
  color: #4183c4;
  text-decoration: none;
}
.gh_widget h3 a:hover {
  text-decoration: underline;
}
.gh_widget ul {
  float: right;
  margin: 0;
  padding-left: 15px;
  position: relative;
}
.gh_widget ul li {
  display: inline-block;
  list-style-type: none;
}
.gh_widget ul li a {
  background-color: transparent;
  background-position: 5px -2px;
  background-repeat: no-repeat;
  color: #666;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  height: 21px;
  line-height: 21px;
  padding: 0 5px 0 23px;
  text-decoration: none;
}
.gh_widget ul li.forks a {
  background-image: url('http://assets1.github.com/images/modules/pagehead/repostat_forks.png');
}
.gh_widget ul li.watchers a {
  background-image: url('http://assets1.github.com/images/modules/pagehead/repostat_watchers.png');
}
